p {
    color: #9b9b9b;
}

.drop-zone-hover i {
    display: none;
}

.drop-zone-hover p {
    display: flex !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212529 !important;
        color: #fff !important;
    }
}